<!DOCTYPE html>
<html>
    <head>
        <title>UAfred</title>
        <script>
if ('undefined' != typeof module){
    var saveModule = module;
    delete module;
}
        </script>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/jquery.md5.js"></script>
        <script>
if ('undefined' != typeof module){
    module = saveModule;
}
        </script>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        <script src="../js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <form class="navbar-form navbar-left w100 p0 m0" onsubmit="return false;">
                <div class="form-group mt10 w100">
                    <input type="text" class="form-control input-lg" style="width:100%" id="searchName" placeholder="Search For:">
                </div>
            </form>
        </nav>
        <div class="list-group mb0">
        </div>
    </body>
    <script src="../js/index.js"></script>
</html>
